<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy Available For Adoption</title>
 </head>
 <body>
  <h1>Adopt This Puppy! </h1><br>
  Puppy Name: <%= @name %><br>
  Puppy Breed: <%= @breed %><br>
  Puppy Age: <%=@age %>
 </body>
</html>
